<!DOCTYPE html>
<html lang="en" style="height: 100vh;">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Connectuscolumbus" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body style="height: 100vh">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <a style="width: 100px" href="<%= Routes.static_path(@conn, "/") %>" class="navbar-brand">
          <img src="<%= Routes.static_path(@conn, "/images/connectus_logo.svg") %>" alt="Connect Us Logo"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarToggler">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="<%= Routes.static_path(@conn, "/") %>">Home</a>
              <a class="nav-item nav-link" href="<%= Routes.static_path(@conn, "/volunteers/new") %>">Volunteer</a>
              <a class="nav-item nav-link" href="<%= Routes.static_path(@conn, "/story_tellers/new") %>">Tell Your Story!</a>
            </div>
            <div class="navbar-nav">
              <%= if Pow.Plug.current_user(@conn) do %>
                <a class="nav-item nav-link" href="<%= Routes.pow_session_path(@conn, :delete) %>">Sign out</a>
              <% else %>
                <a class="nav-item nav-link" href="<%= Routes.pow_registration_path(@conn, :new) %>">Register</a>
                <a class="nav-item nav-link" href="<%= Routes.pow_session_path(@conn, :new) %>">Sign in</a>
              <% end %>
            </div>
        </div>
      </nav>
    </header>
    <div class="container-fluid" style="height: 100%; min-height: 100%;">
      <%= unless is_nil(get_flash(@conn, :info)) do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= unless is_nil(get_flash(@conn, :error)) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>
      <%= render @view_module, @view_template, assigns %>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
