<h1>New Story teller</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.story_teller_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.story_teller_path(@conn, :index) %></span>
